.modal_login {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width: 500px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 40px;
    border-radius: 20px;
    z-index: 9999;
    text-align: center;
    border: 3px solid #000;
}

.modal_login .row {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-bottom: 15px;
}

.modal_login .row.button {
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.modal_login label {
    font-size: 18px;
    color: #000000;
    margin-bottom: 5px;
}

.modal_login input {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 0 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}


.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.image{
    width: 400px;
}
